@model AspNetBase.Models.UserModel
@{ ViewData["Title"] = AdminAction.EditUser.ToString();}

<style>
    span, .validation {
        color: orangered;
    }

    .validation {
        margin-top: 15px;
        text-align: left;
    }
</style>

@{
    if (Model.IsAdmin)
    {
        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Admin" asp-action="EditUser">Редактировать информацию о пользователе</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AddProduct">Добавить товар</a>
            </li>
            <li id="editProduct" class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="EditProduct">Редактировать товар</a>
            </li>
        </ul>
    }

    string isAdmin = Model.IsAdmin ? "" : $"IsAdmin: {Model.IsAdmin.ToString()}";

    string type = Model.IsAdmin ? "checkbox" : "hidden";
}

<center>
    <h1>Информация о пользователе</h1>
</center>

<div class="tab-content row">
    <div class="tab-pane fade show active" id="info">
        <div class="row">
            <form asp-action="EditUser" asp-controller="Admin" asp-anti-forgery="true">
                <div class="card col-lg-3" style="margin: 30px 0 0 0; height: 440px; min-width: 280px; border: solid 1px #00ced1; border-radius: 8px">
                    <center>
                        <div style="height: 375px;">
                            <div style="margin-top: 15px">
                                <label asp-for="Id">Id: @Model.Id</label><br />
                                <input id="input_0" type="hidden" asp-for="Id" /><br />
                                <span asp-validation-for="Id"></span>
                            </div>
                            <div style="margin-top: 15px">
                                <label asp-for="Name"></label><br />
                                <input id="input_1" type="text" asp-for="Name" /><br />
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div style="margin-top: 15px">
                                <label asp-for="Email"></label><br />
                                <input id="input_2" type="text" asp-for="Email" /><br />
                                <span asp-validation-for="Email" />
                            </div>
                            <div style="margin-top: 15px">
                                <label asp-for="IsAdmin">@isAdmin</label>
                                <input id="input_2" type=@type asp-for="IsAdmin" /><br />
                                <span asp-validation-for="IsAdmin" />
                            </div>
                            <div style="margin-top: 15px;">
                                <label asp-for="Password"></label><br />
                                <input id="input_4" type="password" asp-for="Password" /><br />
                                <span asp-validation-for="Password" />
                            </div>
                        </div>

                        <div style="margin-top: 30px">
                            <input type="submit" value="Сохранить изменения" class="btn_" />
                        </div>
                    </center>

                    <div class="validation" asp-validation-summary="All"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
