@model AspNetBase.Models.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Register";
}

    <style>
        span, .validation
        {
            color : orangered;
        }
        
        .validation
        {
            margin-top: 15px;
            text-align: left;
        }
    </style>

<h1>Регистрация</h1>

<div class="row">
    <form asp-action="Register" asp-controller="User" asp-anti-forgery="true">
        <div class="card col-lg-3" style="margin: 30px 0 0 0; height: 440px; min-width: 280px; border: solid 1px #00ced1; border-radius: 8px">
            <center>
                <div style="height: 375px;">
                    <div style="margin-top: 15px">
                        <label asp-for="Name"></label><br />
                        <input id="input_1" type="text" asp-for="Name" /><br />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div style="margin-top: 15px">
                        <label asp-for="Email"></label><br />
                        <input id="input_2" type="text" asp-for="Email" /><br />
                        <span asp-validation-for="Email" />
                    </div>
                    <div style="margin-top: 15px">
                        <label asp-for="Password"></label><br />
                        <input id="input_3" asp-for="Password" /><br />
                        <span asp-validation-for="Password" />
                    </div>
                    <div style="margin-top: 15px">
                        <label asp-for="ConfirmPassword"></label><br />
                        <input id="input_4" asp-for="ConfirmPassword" /><br />
                        <span asp-validation-for="ConfirmPassword" />
                    </div>
                </div>

                <div style="margin-top: 30px">
                    <input type="submit" value="Регистрация" class="btn_" />
                </div>
            </center>

            <div class="validation" asp-validation-summary="All"></div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}