
@{
    ViewData["Title"] = "UserInfo";
}

<h1>Информация о пользователе</h1>

@if (Model.AuthorizedUser.IsAdmin)
{
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#info">Информация о пользователе</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#addProduct">Добавить товар</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#editProduct">Редактировать товар</a>
    </li>
</ul>
}


<div class="tab-content row">
    <div class="tab-pane fade show active" id="info">
        <div class="row">
            <div class="card col-lg-3" style="margin: 30px 0 0 0; height: 400px; min-width: 280px; border: solid 1px #00ced1; border-radius: 8px">
                <center>
                    <div style="margin-top: 15px">
                        <label>Id: @Model.AuthorizedUser.Id</label><br />
                    </div>
                    <div style="margin-top: 15px">
                        <label>Имя</label><br />
                        <label>@Model.AuthorizedUser.Name</label><br />
                    </div>
                    <div style="margin-top: 15px">
                        <label>Email</label><br />
                        <label>@Model.AuthorizedUser.Email</label><br />
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="addProduct">

    </div>

    <div class="tab-pane fade" id="editProduct">

    </div>
</div>